.body-container {
    background-color: var(--bg-color-tertiary);
    padding: 20px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    gap: 15px;
}